# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/codeStyles/
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
java_pingan.iml
src/main/resources/
src/test/
target/
